{% extends 'store/base.html' %}
{% load static %}
{% block title %}Cnange Password{% endblock title %}

{% block main-content %}
    <div class="container my-5">
        <div class="row"> 
            <div class="col-sm-9 offset-sm-1 text-center">
                <h3>Пароль успешно изменен</h3>
            <div>
                <img style="display: block; margin: 0 auto;" src="{% static 'store/images/gif/giphy.gif' %}"  allowfullscreen frameborder="0" height="200" width="200"></iframe>
                
            </div>
        </div>
    </div>    
</div>
{% endblock main-content %}